body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  body > * {
    padding: 0 16px;
  }
  
  header {
    display: flex;
    place-items: center;
    gap: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 5px 6px #ccc;
  }
  